@import "idangerous.swiper.css";

.device {
    max-width: 320px;
    height: 150px;
    background: #ffffff;
    margin: 5px auto;
    position: relative;
}

.device .arrow-left {
    background: url(../img/arrows.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
}

.device .arrow-right {
    background: url(../img/arrows.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.content-slide {
    color: #fff;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

.pt-pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index: 1000;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
}

.swiper-active-switch {
    background: #fff;
}

img{
    height: 100%;
    width: 100%;
}